/* The App takes up the whole screen and is centered */
.App {
  width: 100vx;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Remove margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* The board */
.board {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

/* The board row */
.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

/* The square */
.square {
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* When the square is clicked, change the background color */
.square:active {
  background-color: #64F4C4;
}

